:root {
    --color-bone-translucent: rgba(227,218,201,0.5);
    --color-bone: rgba(227,218,201,1);
    --color-pale-bone-translucent: rgba(246,243,238,0.5);
    --color-pale-bone: rgba(246,243,238,1);
    --color-primary-translucent: rgba(15,15,15,0.7);
    --color-primary: rgba(15,15,15,1);
    --color-mud-translucent: rgba(67,55,35,0.5);
    --color-mud: rgba(67,55,35,1);
}

/* reset */
html {
    color: var(--color-bone);
    background-color: var(--color-primary);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: inherit;
}

/* styling */
body {
    /* Remove margin/padding */
    margin: 0px;
    padding: 0px;
    /* Center all content */
    display: flex;
    /* align-items: stretch; */
    justify-content: center;
    height: 100vh;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary-translucent {
    background-color: var(--color-primary-translucent);
}

.bg-secondary {
    background-color: var(--color-pale-bone);
}

.bg-secondary-translucent {
    background-color: var(--color-pale-bone-translucent);
}

.bg-tertiary {
    background-color: white;
}

@font-face {
    font-family: norse-bold;
    src: url('Norse-Bold.otf');
}

.special-font {
    font-family: norse-bold, sans-serif;
}

.caption {
    font-size: 0.8rem;
}

main {
    display: flex;
    align-items: stretch;
    width: min(100%, 1300px);
}

#logo-section {
    flex: 1 2 0;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: var(--color-bone);
    position: relative;
}

#logo-text {
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
}

#logo-image-credit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#form-section {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: var(--color-mud)
}

#form-section > * {
    flex: 1 1 0;
}